<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Chat</title>

    <!-- Voeg deze scripts toe voor SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
    <h1>Chat met {{ recipient }}</h1>

    <div id="messages-container">
        {% for message in messages %}
            <div class="message {% if message['status'] == 'sent' %}sent{% elif message['status'] == 'delivered' %}delivered{% elif message['status'] == 'read' %}read{% endif %}">
                <span class="message-sender">{{ message['sender'] }}:</span>
                <span class="message-text">{{ message['text'] }}</span>
            </div>
        {% endfor %}
    </div>

    <form id="message-form">
        <input type="text" id="message-input" placeholder="Type hier je bericht">
        <button type="button" onclick="sendMessage()">Verstuur</button>
    </form>

    <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    console.log('http://' + document.domain + ':' + location.port);

    // Event om een nieuw bericht te ontvangen
    socket.on('message_received', function(data) {
        loadMessages();  // Laad de berichten wanneer een nieuw bericht wordt ontvangen
    });

    function sendMessage() {
        var messageInput = document.getElementById('message-input').value;
        var recipient = "{{ recipient }}";

        console.log("verstuur geduwd");

        // Verstuur het bericht naar de server met SocketIO
        socket.emit('send_message', { 'message': messageInput, 'recipient': recipient });
    }

    // Functie om berichten te laden zonder de pagina te vernieuwen
    function loadMessages() {
        var recipient = "{{ recipient }}";

        // Voer een AJAX-verzoek uit om de berichten op te halen
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/chat/" + recipient, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Vervang de huidige berichtencontainer met de nieuwe
                document.getElementById('messages-container').innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }
    </script>
</body>
</html>

