<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if username %}
        <h1>Hoi {{ username }}</h1>
        <a href="{{ url_for('logout') }}">Uitloggen</a>
    {% else %}
        <h1>Welkom bij het aanmeld- en inlogsysteem</h1>
        <a href="{{ url_for('login') }}">Inloggen</a> |
        <a href="{{ url_for('signup') }}">Aanmelden</a>
    {% endif %}
</body>
</html>
