<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aanmelden</title>

    <script src="path/to/crypto-js.js"></script>

<script>
    function hashPassword() {
        var password = document.getElementById('password').value;
        var hashedPassword = CryptoJS.SHA256(password).toString(CryptoJS.enc.Hex);
        document.getElementById('password').value = hashedPassword;
    }
</script>

</head>
<body>
    <h1>Aanmelden</h1>
    <form action="/signup" method="post" onsubmit="hashPassword()">
        <label for="name">Naam:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="surname">Achternaam:</label>
        <input type="text" id="surname" name="surname" required><br>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="username">Gebruikersnaam:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Wachtwoord:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Aanmelden">
    </form>
</body>
</html>
